# Dependencies
node_modules
npm-debug.log

# Build output
.next
out

# Development files
.git
.gitignore
*.md
.env*.local

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Testing
coverage
.nyc_output

# Misc
*.log
